:root {
  --width-cell: 80px;
  --height-cell: calc(var(--width-cell) * 1.4);
  --suit-size-large: 48px;
  --suit-size-small: 12px;
  --joker-size-width-large: 80px;
  --joker-size-height-large: calc(var(--joker-size-width-large) * 1.5);
  --row-color: rgba(226, 226, 226, 0.5);
  --hand-color: rgba(114, 89, 51, 0.5);
}
.row-template {
  background-color: var(--row-color);
  /* padding: 10px; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--width-cell) * 1.5);
  border: 1px salmon solid;
}
.row {
  width: calc(var(--width-cell) * 12);
  height: calc(var(--height-cell) * 1.1);
  padding: 5px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(10, 1fr);
  /* grid-row-gap: 2em; */
}
.player-side,
.opponent-side {
  border: 3px solid darkolivegreen;
}
.empty-cell {
  width: var(--width-cell);
  height: var(--height-cell);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.1);
}

/* cards */
.card {
  width: var(--width-cell);
  height: var(--height-cell);
  padding: 5px;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.hand-template .card:hover {
  transform: scale(1.1);
  z-index: 9;
  box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.3);
}
.card-selected {
  transform: scale(1.1);
  z-index: 10;
  border: 2px black solid;
}
.Hearts,
.Diamonds {
  color: red;
}
.Clubs,
.Spades {
  color: black;
}
.suit {
  width: var(--suit-size-large);
  height: var(--suit-size-large);
}
.suit-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.suit-before,
.suit-after {
  width: var(--suit-size-small);
  height: var(--suit-size-small);
  position: absolute;
}
.suit-before {
  left: 10%;
  top: 22%;
}
.suit-after {
  right: 10%;
  bottom: 22%;
}
.joker {
  width: var(--joker-size-width-large);
  height: var(--joker-size-height-large);
}
.JokerRed .rank,
.JokerBlack .rank {
  color: rgba(255, 255, 255, 0.1);
}
.rank {
  font-weight: bold;
  position: absolute;
  font-size: 20px;
}
.rank-before {
  left: 10%;
  top: 5%;
}
.rank-after {
  right: 10%;
  bottom: 5%;
}

/* hand */
.player-side .hand,
.opponent-side .hand {
  background-color: var(--hand-color);
  /* padding: 10px; */
}
.dealer {
  width: calc(var(--width-cell) * 1.5);
  border: 1px salmon solid;
}
.back-desight {
  width: 90px;
  height: 122px;
}
