@import "../constants.css";

.rules {
  font-size: 16px;
  text-align: center;
  padding: 45px;
  color: aliceblue;
  background: radial-gradient(rgba(0, 73, 16, 1), transparent 70%);
}
.card-combination-name,
.card-combination,
.score-bust {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
.card-combination-name,
.card-combination,
.score-bust {
  color: black;
}
