@import "../constants.css";

.rules-cards {
  width: calc(var(--width-cell) * 5.5);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}
.card-combination-name,
.card-combination,
.score-bust {
  font-weight: bold;
  font-style: italic;
  color: black;
}
